<!DOCTYPE html>
<html ng-app="my">
<head>
  <meta charset="utf-8">
  <title>Sortable: group</title>
  <!-- AngularJS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <!-- Sortable.js -->
  <script src="Sortable/Sortable.js"></script>
  <link rel="stylesheet" type="text/css" href="custom.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
</head>
<body class="container">
	<div ng-controller="MainCtrl1" class="col-md-12">
<div ng-if="content">
                <pre>{{content}}</pre>
            </div>
        </div>	
<div ng-controller="MainCtrl2" class="col-md-12">
<div ng-if="content">
                <pre>{{content}}</pre>
            </div>
        </div>	<div ng-controller="MainCtrl3" class="col-md-12">
<div ng-if="content">
                <pre>{{content}}</pre>
            </div>
        </div>	<div ng-controller="MainCtrl5" class="col-md-12">
<div ng-if="content">
                <pre>{{content}}</pre>
            </div>
        </div>
<script src="bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>  
<script src="custom1.js"></script>  
</body>
</html>